#city_form {
    width: 300px;
    border: 1px solid black;
    margin: 5% auto 0;
    height: 300px;
}

.input_container {
    width: 234px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.weather_data {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}